<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.title %> | <%= site.data.general.title %></title>
    <meta name="description" content="<%= data.description %> | <%= site.data.general.description %>" />

    <%# Open Graph for social sharing %>
    <meta property="og:title" content=<%= data.title %> | <%= site.data.general.title %>" />
    <meta property="og:description" content="<%= data.description %> | <%= site.data.general.description %>" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="<%= asset_path :css %>" />
    <script src="<%= asset_path :js %>" defer></script>
    <%= live_reload_dev_js %>
  </head>
  <body class="pb-16 xl:pb-0">
    <%= yield %>
    <%= render "pix/float" %>
    <%= render "footer" %>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>lucide.createIcons();</script>
    <script async src="//www.instagram.com/embed.js"></script>
  </body>
</html>
